{% extends "base.html" %}

{% block 'contenido' %}
  <h1 class="text-center">Contactanos</h1><br>
  <form method="POST" class="mx-auto" style="max-width: 400px;">
    <div class="container">
    {% csrf_token %}
    <div class="mb-3 form-group">
      <label for="exampleFormControlInput1" class="form-label"> {{form.customer_email.label_tag}}</label>
      {{form.customer_email}}
    </div>
    <div class="mb-3 form-group">
      <label for="exampleFormControlInput1" class="form-label">{{form.customer_name.label_tag}}</label>
      {{form.customer_name}}
    </div>
    <div class="mb-3 form-group">
      <label for="exampleFormControlInput1" class="form-label">{{form.message.label_tag}}</label>
      {{form.message}}
    </div>   
    <div class="text-center">
       <button type="submit" class="btn btn-outline-secondary">Enviar</button>
    </div>   
    </div>
  </form>
{% endblock 'contenido' %}







